@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap');

:root {
    --yellow: #fbffa7;
    --orange: #ff764d;
    --light_blue: #b1c5ff;
    --purple: #d5b3ff;
    --light_green: #b6ffc0;
    --blue: #0000ff;
}

/** GLOBAL **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
body {
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    line-height: 2;
    background-color: #fff;
}
h1, h2, h3 {
    margin: 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
video {
    width: 100%;
}

/** Top-Nav **/
/* Style the navigation menu */
#topnav {
    display: flex;
    overflow: hidden;
    position: relative;
}
/* Hide the links inside the navigation menu (except for logo) */
#topnav #topnav-links {
    display: none;
    width: 100%;
    background-color: var(--blue);
    margin-top: 50px;
    text-align: justify;
}
#topnav-links a {
    color: #fff;
}
#topnav-links a:nth-of-type(9) {
    font-size: 1.3rem;
}
/* Style navigation menu links */
#topnav a {
    padding: 14px 16px;
    font-size: 1.7rem;
    display: block;
}
/* Style the hamburger menu */
#topnav a.icon {
    display: flex;
}
/* Style the icon */
.fa-bars, .fa-menu {
    color: #000;
    font-size: 3.5rem;
} 
.fa-menu{
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/** Media Querie - TopNav **/
@media only screen and (min-width: 800px) {
    #topnav #topnav-links {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        background-color: #fff;;
    }
    #topnav #topnav-links a {
        color: #000;
        padding-bottom: 0;
    }
    #topnav a:nth-child(3) {
        display: none;
    }
    #topnav a:nth-child(8) {
        padding: 20px;
    }
}
#hr {
    margin-bottom: 5px;
    background-color: #EEEEEE;
    width: 100%;
    height: 3px;
}

/** CONTAINER **/
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(14, 400px);
    gap: 10px 15px;
}
/* Grid - Main content */
.menu-main {
    grid-column: 1/4 ;
    grid-row: 1/2;
}
.menu-links {
    margin-left: 15px;
    padding: 5px;
    color: #000;
}
.menu-links:hover {
    color: var(--orange);
}
.main-img {
    grid-column: 2/6;
    grid-row: 1/4;
    margin-top: 50px;
}
/* Grid Items - Texts */
.text-1 {
    grid-row: 2/3;
    grid-column: 2/6;
}
.paragraph-1 {

}
.text-2 {

}    
.text-3 {
    
} 
.text-4 {
    
}
.text-5 {
    
} 
.text-6 {
    
} 
.text-7 {
    
}

/* Grid Items - Img */
.img-1 {
    
} 
.img-2 {
    
} 
.img-3 {
    
} 
.img-4 {
    
}
.img-5 {
    
} 
.img-6 {
    
} 
.img-7 {
    
} 
.img-8 {
    
}
.img-9 {
    
}
/* Grid Item - Video */
.video {
    
}